<p class="text-center bg-dark text-light mb-0">
    By Daniel Ljung Runge
    <a
        href="https://github.com/DanishKodeMonkey/odin-inventory-application"
        class="nav-link"
        >@danishKodeMonkey on gitHub</a
    >
</p>
