<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 justify-content-center">
    <a
        href="/"
        class="navbar-brand"
        >TOIMA</a
    >
    <ul class="navbar-nav">
        <li class="nav-item">
            <a
                href="/"
                class="nav-link"
                >Home</a
            >
        </li>
        <li class="nav-item">
            <a
                href="/catalog/categories"
                class="nav-link"
                >Categories</a
            >
        </li>
        <li class="nav-item">
            <a
                href="/catalog/items"
                class="nav-link"
                >Items</a
            >
        </li>
    </ul>
</nav>
