<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a
        href="/"
        class="navbar-brand"
        >TOIMA</a
    >
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a
                href="/"
                class="nav-link"
                >Home</a
            >
        </li>
        <li class="nav-link">
            <a
                href="/categories"
                class="nav-link"
                >Categories</a
            >
        </li>
        <li class="nav-link">
            <a
                href="/items"
                class="nav-link"
                >Items</a
            >
        </li>
    </ul>
</nav>
