<h1><%= message %></h1>
<h2><%= error.status %></h2>

<% if (error.status === 404) { %>
    <p>Sorry, the page you are looking for could not be found.</p>
<% } else if (error.status === 500) { %>
    <p>Oops! Something went wrong on our end. Please try again later.</p>
<% } else { %>
    <p><%= message %></p>
<% } %>

<% if (process.env.NODE_ENV === 'development') { %>
    <pre><%= error.stack %></pre>
<% } %>